<html>
    <head data-template="lib:include" data-template-path="templates/header.html">
        <script data-target="script-preload" src="resources/scripts/edition.js"/>
    </head>

    <body class="edition">
        <pb-page data-template="pages:pb-page" unresolved="unresolved" url-ignore="view,odd,panels">
            <pb-document id="document1" data-template="pages:pb-document"/>
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout>
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                        <app-toolbar data-template="lib:include" data-template-path="templates/toolbar.html"/>
                    </app-header>
                    <section class="breadcrumbs">
                        <pb-view id="title-view1" src="document1" xpath="//teiHeader" view="single">
                            <pb-param name="header" value="edition"/>
                        </pb-view>
                    </section>
                <main class="content-body">
                        <pb-grid id="grid" panels="[2,3]">
                            <template>
                                <!-- template used for adding a new column: user can choose between normalized edition, diplomatic edition, facsimile and register  -->
                                <pb-panel>
                                    <!-- Added to the toolbar -->
                                    <pb-grid-action grid="#grid" slot="toolbar" action="remove">
                                        <paper-icon-button icon="icons:close"/>
                                    </pb-grid-action>
                                    <template title="Lesefassung">
                                        <pb-view src="document1" subscribe="transcription" emit="transcription" append-footnotes="append-footnotes">
                                            <pb-param name="view" value="norm"/>
                                        </pb-view>
                                    </template> 
                                    <template title="textnahe Fassung">
                                    <pb-view src="document1" subscribe="transcription" emit="transcription" append-footnotes="append-footnotes">
                                        <pb-param name="view" value="dipl"/>
                                    </pb-view>
                                </template>
                                     <template title="Digitalisat">
                                     <pb-facsimile id="facsimile" show-navigator="show-navigator" show-rotation-control="show-rotation-control" style="height:600px" show-full-page-control="show-full-page-control" show-navigation-control="show-navigation-control" show-sequence-control="show-sequence-control" show-reference-strip="" subscribe="transcription">
                        </pb-facsimile>
                        <p id="status"/>
                                      </template>
                                     <template title="Register" id="register">        
                                     <pb-view src="document1" subscribe="transcription" emit="register" view="single">
                                        <pb-param name="view" value="register"/>
                                    </pb-view>
                                    </template> 
                                </pb-panel>
                            </template>
                            <!-- Transcription is always shown -->

                            <!-- For the transcription, users can choose between diplomatic and normalized view -->
                            <pb-panel id="edition">
                                <template title="Lesefassung">
                                        <pb-view class="edition" src="document1" subscribe="transcription" emit="transcription" append-footnotes="append-footnotes">
                                            <pb-param name="view" value="norm"/>
                                        </pb-view>
                                 </template>
                                <template title="textnahe Fassung">
                                    <pb-view src="document1" subscribe="transcription" emit="transcription" append-footnotes="append-footnotes">
                                        <pb-param name="view" value="dipl"/>
                                    </pb-view>
                                </template>
                            </pb-panel>
                        </pb-grid>
                    </main>
                    <aside>
                        <div class="citation">
                            <h3>Zitierweise</h3>
                        <p>Digitale Edition Königsfelden, URL: <span data-template="app:get-url"/>, Stand: <span data-template="app:current-date"/>.</p>
                        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">
                                <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png"/>
                            </a>
                        </div>
                    </aside>
                <footer data-template="lib:include" data-template-path="templates/footer.html"/>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>