.footnotes::before {
    content: 'Anmerkungen';
    display: block;
    font-size: 1em;
    font-weight: bold;
    color: #364954;
    margin: 1em 0 0.5em -1em;
    font-family: var(--pb-base-font-family);
}

.footnotes {
    margin-left: 1em;
}

.footnotes a {
    color: var(--pb-color-start);
}

.p {
     margin: 0.3em 0;
}

.register {
    margin-top:  1em;
}

.register ul {
    list-style: none;
    font-family: var(--pb-serif-font-family);
    
}

paper-checkbox {
--paper-checkbox-checked-color: var(--pb-color-start)
}


.link, .register a {
    color: var(--pb-color-start);
}

.header-edition, .register {
    font-family: var(--pb-base-font-family);
    margin-bottom: 2em;
    
}
.header-edition h2 {
    font-size: 1em;
    margin-bottom: 0;
}

.header-edition h4 {
    font-size: smaller;
    color: var(--pb-color-start);
    margin: 0;
}

.header-edition h3,  {
  /*  color: #364954; */
    margin:0;
    
}

.register h3 {
    margin: 0;
    font-size: 18px;
};

.header-edition pb-collapse {
    margin-top: 1em;
}

.header-edition pb-collapse div {
    margin: 0;
}

.header-edition pb-collapse ul {
    list-style: none;
    margin: 0 0.5em;
    font-family: var(--pb-serif-font-family);
}

.header-edition pb-collapse p {
    margin: 0 2.5em;
    text-align: justify;
    font-family: var(--pb-serif-font-family);
}

.semantic {
    text-decoration:none;
}

.highlight {
    background-color: var(--pb-highlight-color);
}

.term {
    color: #b5221f;
}
.place, .place a:visited {
    color: #007e00;
}
.person, .person a:visited {
    color: #4478b5;
}

.organization, .organization a:visited {
    color: #4C698B;
}

.reference a {
    cursor: pointer;
    color: inherit;
}

.text-critical {
    text-decoration:underline;
    text-decoration-style: dotted;
    text-decoration-color: #333;
}

.date {
    color: #800080;
}

.orig::before {
    content: '«';
}
.orig::after {
    content: '»';
}

.textcritical {
    margin-bottom: 1em;
}

pb-facs-link {
    color: #808080;
    font-size: smaller;
    display:block;
}

a {
    text-decoration: none;
}

.pb,
.pb2 {
    font-size: small;
    float: none !important;
    display: inline !important;
    margin: 0 !important;
    color: var(--color-gray-medium);
}

.pb:before {
    content: '[p. ' !important;
}

/* Custom pagebreaks in documents */
.pb-empty,
.pb-pagination,
.pb-foliation {
    color: #808080;
    display: inline;
    clear: left;
    padding-right: .5em;
}

.pb-norm {
    clear: none;
    padding-left: .5em;
}

.pb-pagination::after,
.pb-foliation::after {
    content: "]";
}


.pb-pagination::before {
    content: "| [S. ";
}



.pb-foliation:before {
    content: "| [fol. ";
}

/*  Display <q> tags in guillemets */
.quote-inline::before {
    content: "\00AB";
}
.quote-inline::after {
    content: "\00BB";
}
