<html data-template="app:load-model">
     <head data-template="lib:include" data-template-path="templates/header.html">
        <script data-target="script-preload" type="module" src="pb-leaflet-map.js" data-template="pages:load-components"/>
    </head>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json" url-ignore="view" require-language="require-language">
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout fullbleed="">
                    <app-header slot="header" effects="waterfall" reveals="reveals" condenses="condenses" fixed="fixed">
                    <app-toolbar data-template="templates:include" data-template-path="templates/banner.html"/>
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                 </app-header>
                        <main>
                            <div data-template="app:get-entity-info" class="panel"/>
                             <pb-leaflet-map class="map-detail" id="map" zoom="6" toggle="">
                    <pb-map-layer show="" base="" label="OpenTopo Map" url="https://{s}.tile.openstreetmap.de/tiles/osmde/{z}/{x}/{y}.png" max-zoom="19" attribution="© Mapbox © OpenStreetMap"/>
                 </pb-leaflet-map>  
                            <div data-template="app:get-entity-mentions" class="panel"/>
                        </main>
                        <footer data-template="templates:include" data-template-path="templates/footer.html"/>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>        
        <div class="splash"/>        
        <script>
            window.addEventListener('WebComponentsReady', function() {
                pbEvents.subscribe('pb-leaflet-marker-click', 'map', function(ev) {
                    const label = ev.detail.label;
                    const category = label.substring(0, 1);
                    window.location = `${label}?category=${category}`;
                });
            });
        </script>    
    </body>
</html>