<app-drawer slot="drawer" align="left">
    <div class="drawer-content">
        <pb-media-query query="(max-width: 1023px)">
            <ul class="drawer-menu">
                <li>
                   <a href="${app}/start.html" data-template="lib:parse-params">Start</a>
                </li>
                 <li>
                    <a href="${app}/intro.html" data-template="lib:parse-params">
            <pb-i18n key="intro">Einleitung</pb-i18n>
        </a>
                </li>
       <li> <a href="${app}/index.html" data-template="lib:parse-params">
            <pb-i18n key="docs">Dokumente</pb-i18n>
        </a>
                </li>
            <li>Register<ul>
                <li> <a href="${app}/people.html" data-template="pages:parse-params">
                        <pb-i18n key="person">Personen</pb-i18n>
                    </a>
                        </li>
                    <li> <a href="${app}/places.html" data-template="pages:parse-params">
                        <pb-i18n key="places">Orte</pb-i18n>
                    </a>
                        </li>
                    <li><a href="${app}/organisations.html" data-template="pages:parse-params">Familien/ Organisationen</a>
                        </li>
                    <li>
                            <a href="${app}/keywords.html" data-template="pages:parse-params">
                        <pb-i18n key="keywords">Schlagworte</pb-i18n>
                    </a>
                        </li>
            </ul>
                </li>
                
       <li> <a href="${app}/stemma.html" data-template="lib:parse-params">
            <pb-i18n key="trad">Überlieferung</pb-i18n>
        </a>
                </li>
            </ul>
        </pb-media-query>
    </div>
</app-drawer>