<footer class="footer tp-row">
    <div class="col-md-4">
        <h5>
            <pb-i18n key="kontakt">Kontakt</pb-i18n>
        </h5>
        <p>
                Editionsprojekt Königsfelden<br/>
                Historisches Seminar der Universität Zürich<br/>
                Projektstelle Mittelalter<br/>
                Culmannstrasse 1<br/>
                8006 Zürich<br/>


                email: <a href="mailto:sekteuscher@hist.uzh.ch">sekteuscher@hist.uzh.ch</a>
            <br/>
                <a href="https://www.hist.uzh.ch">https://www.hist.uzh.ch</a>
        </p>
    </div>
    <div class="col-md-3">
        <h5>
            <pb-i18n key="realisierung">Realisierung</pb-i18n>
        </h5>
        <p>
            <a href="http://existsolutions.com">eXistSolutions GmbH</a>
            <br/>
            <a href="http://www.ssrq-sds-fds.ch">Schweizerische Rechtsquellen (SSRQ)</a>
            <br/>
            <a href="https://www.hist.uzh.ch/de/fachbereiche/mittelalter/lehrstuehle/teuscher/forschung/projekte/koenigsfelden.html">Editionsprojekt Königsfelden</a>
        </p>
    </div>
    <div class="col-md-3">
        <h5>
            <pb-i18n key="transrichtlinien">Hinweis auf die Transkriptionsrichtlinien</pb-i18n>
        </h5>
        <h5>
            <pb-i18n key="datrichtlinien">Hinweis auf die Datierungsrichtlinien</pb-i18n>
        </h5>
        <h5>
            <pb-i18n key="impressum">Impressum</pb-i18n>
        </h5>
        <h5>
            <pb-i18n key="datenschutz">Datenschutzerklärung</pb-i18n>
        </h5>
    </div>
     <div class="col-md-2">
        <h5>
            <pb-i18n key="lizenz">Lizenz</pb-i18n>
        </h5>
        <p>Plattform:
            <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA</a>
        </p>
        <p>Editionsdaten: <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> 
        </p>
        <p>Alle Abbildungen der Dokumente und Akten sind gemeinfrei.
        </p>
    </div>
</footer>