<html>
    <head data-template="lib:include" data-template-path="templates/header.html">
        <script data-target="script-preload" src="resources/scripts/browse.js"/>
    </head>
    <body class="search-mask">
    <pb-page data-template="pages:pb-page" locales="resources/i18n/{{ns}}/{{lng}}.json" require-language="require-language" unresolved="unresolved" api-version="1.0.0" theme="resources/css/components.css">
        <app-drawer-layout force-narrow="force-narrow">
        <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
            <app-header-layout fullbleed="">
                <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                    <app-toolbar data-template="lib:include" data-template-path="templates/menu.html">
                        <pb-progress subscribe="search" indeterminate="indeterminate" bottom-item="bottom-item" data-target="menubar-after"/>
                    </app-toolbar>
                </app-header>
                <main style="width:90%">
                    <h1 class="tp-title" data-template="config:app-title"/>
                    <section class="panels">
                        <paper-card class="doclist" elevation="0">
                            <div class="card-content">
                                <div class="browse">
                                    <aside data-template="browse:form">
                                        <div class="flex">
                                                <pb-custom-form class="sort">
                                            <pb-select label="Sortiere nach" name="sort" value="${sort}" data-template="pages:parse-params">
                                                <paper-item value="date">Datum</paper-item>
                                                <paper-item value="title">Signatur</paper-item>
                                                <paper-item value="foliant">Foliant</paper-item>
                                            </pb-select>
                                        </pb-custom-form>
                                        <button>
                                                    <a href="index.html">Zurücksetzen</a>
                                                </button>
                                        </div>
                                        <pb-custom-form id="genre" class="genre">
                                            <h3>
                                                <pb-i18n key="genre"/> <pb-popover>
                                                        <iron-icon icon="icons:info"/>
                                                        <div slot="alternate">
                                                            <h2>Volltextsuche</h2>
               <ul>
                  <li>Exakte Suche eines Wortes oder einer Wortfolge</li>
                  <li>Suche mit den Operatoren <code>AND</code>, <code>OR</code> oder <code>AND NOT</code>
                                                                </li>
                  <li>Wildcards für eine unscharfe Suche (z.B. <code>wein*</code> oder <code>*haus</code>)</li>
                  <li>Platzhalter innerhalb eines Wortes (z.B. <code>r*t</code>; <code>*</code> für mehrere Zeichen; <code>?</code> für ein Zeichen)</li>
                  <li>Verwenden Sie für eine Wortfolge gerade Anführungszeichen (z.B. <code>"Chorfrau zu Säckingen"</code>).</li>
                  <li>Wenn die Suchbegriffe Sonderzeichen enthalten, verwenden Sie gerade Anführungszeichen (z.B. <code>"AA/0429"</code>).</li>
               </ul>
                                                        </div>
                                                    </pb-popover>
                                            </h3>
                                            <paper-checkbox id="bearbeitungstext" data-template="pages:parse-params">
                                                <pb-i18n key="searchText"/>
                                            </paper-checkbox>
                                            <ul class="subtype">
                                                <li>
                                                  <paper-checkbox name="subtype" class="bearbeitungstext" value="title">Signatur</paper-checkbox>
                                                </li>
                                                <li>
                                                  <paper-checkbox name="subtype" class="bearbeitungstext" value="regest">
                                                  <pb-i18n key="regest"/>
                                                  </paper-checkbox>
                                                </li>
                                                <li>
                                                  <paper-checkbox name="subtype" class="bearbeitungstext" value="comment">
                                                  <pb-i18n key="comment"/>
                                                  </paper-checkbox>
                                                </li>
                                                <li>
                                                  <paper-checkbox name="subtype" class="bearbeitungstext" value="notes">
                                                  <pb-i18n key="notes"/>
                                                  </paper-checkbox>
                                                </li>
                                            </ul>
                                            <paper-checkbox id="editionstext" name="subtype" value="edition" data-template="pages:parse-params">
                                                <pb-i18n key="searchEdition"/>
                                            </paper-checkbox>
                                        </pb-custom-form>
                                        <pb-search place-holder="Suche nach" id="search-form" subscribe="search" data-template="pages:parse-params" value="${query}" subforms=".facets,.sort,.genre,.options" submit-on-load="submit-on-load">
                                            <paper-button slot="searchButton">Suche</paper-button>
                                        </pb-search>
                                       <pb-custom-form class="options">
                                            <input type="hidden" name="dates" value="" data-template="templates:form-control"/>
                                        </pb-custom-form> 
                                        <pb-custom-form class="facets" url="api/search/facets" event="pb-results-received" subscribe="search" emit="search"/>
                                    </aside>
                                    <div id="document-list">
                                        <div class="timeline">
                                            <pb-timeline url="api/timeline" scopes="[&#34;D&#34;, &#34;M&#34;, &#34;Y&#34;, &#34;5Y&#34;, &#34;10Y&#34;]" resettable="" max-interval="80" subscribe="search" emit="search">
                                                <span slot="label">Angezeigter Zeitraum: </span>
                                            </pb-timeline>
                                        </div>
                                        <pb-paginate id="paginate" per-page="10" range="5" subscribe="search" emit="search"/>
                                        <pb-load url="api/collection/{collection}" expand="" emit="search"/>
                                    </div>
                                </div>
                            </div>
                        </paper-card>
                    </section>
                </main>
                <footer data-template="templates:include" data-template-path="templates/footer.html"/>
            </app-header-layout>
        </app-drawer-layout>
    </pb-page>
    <div class="splash"/>
</body>
</html>