<app-toolbar class="menubar">
    <a href="${app}/index.html" class="logo" data-template="pages:parse-params"/>
        <a href="${app}/index.html" data-template="lib:parse-params">
            <pb-i18n key="home">Start</pb-i18n>
        </a>
        <a href="${app}/intro.html" data-template="lib:parse-params">
            <pb-i18n key="intro">Einleitung</pb-i18n>
        </a>
        <a href="${app}/collection.html" data-template="lib:parse-params">
            <pb-i18n key="docs">Dokumente</pb-i18n>
        </a>
        <a href="${app}/stemma.html" data-template="lib:parse-params">
            <pb-i18n key="trad">Überlieferung</pb-i18n>
        </a>
        <a href="${app}/map.html" data-template="lib:parse-params">
            <pb-i18n key="map">Karte</pb-i18n>
        </a>
         <paper-menu-button>
            <a href="#" slot="dropdown-trigger" title="Register">
                <pb-i18n key="registry">Register</pb-i18n>
            </a>
            <paper-listbox slot="dropdown-content">
                <paper-item>
                    <a href="${app}/people.html" data-template="pages:parse-params">
                        <pb-i18n key="person"/>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/places.html" data-template="pages:parse-params">
                        <pb-i18n key="places"/>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/organisations.html" data-template="pages:parse-params">
                        <pb-i18n key="organisations"/>
                    </a>
                </paper-item>
            </paper-listbox>
        </paper-menu-button>
</app-toolbar>