<app-toolbar class="menubar">
    <span class="menu-logos">
        <a href="${app}/start.html" class="logo-zh" data-template="pages:parse-params">
        <img src="${app}/resources/images/uzh-white.svg" alt="logo UZH"/>
    </a>
    <a href="https://www.ag.ch" class="logo-argau" target="_blank" data-template="pages:parse-params">
        <img src="${app}/resources/images/aargau-white.png" alt="logo argau"/>
    </a>
    </span>
        <a href="${app}/start.html" data-template="lib:parse-params">
            <pb-i18n key="home">Start</pb-i18n>
        </a>
        <a href="${app}/intro.html" data-template="lib:parse-params">
            <pb-i18n key="intro">Einleitung</pb-i18n>
        </a>
        <a href="${app}/index.html" data-template="lib:parse-params">
            <pb-i18n key="docs">Dokumente</pb-i18n>
        </a>
         <paper-menu-button>
            <a href="#" slot="dropdown-trigger" title="Register">
                <pb-i18n key="registry">Register</pb-i18n>
            </a>
            <paper-listbox slot="dropdown-content">
                <paper-item>
                    <a href="${app}/people.html" data-template="pages:parse-params">
                        <pb-i18n key="person"/>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/places.html" data-template="pages:parse-params">
                        <pb-i18n key="places"/>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/organisations.html" data-template="pages:parse-params">
                        <pb-i18n key="organisations"/>
                    </a>
                </paper-item>
                <paper-item>
                    <a href="${app}/keywords.html" data-template="pages:parse-params">
                        <pb-i18n key="keywords"/>
                    </a>
                </paper-item>
            </paper-listbox>
        </paper-menu-button>
        <a href="${app}/stemma.html" data-template="lib:parse-params">
            <pb-i18n key="trad">Überlieferung</pb-i18n>
        </a>
     <!--   <a href="${app}/map.html" data-template="lib:parse-params">
            <pb-i18n key="map">Karte</pb-i18n>
        </a> -->
        
</app-toolbar>