<app-toolbar class="menubar">
    <a href="${app}/index.html" class="logo" data-template="pages:parse-params"/>
        <a href="${app}/index.html" data-template="lib:parse-params">
            <pb-i18n key="home">Start</pb-i18n>
        </a>
        <a href="${app}/intro.html" data-template="lib:parse-params">
            <pb-i18n key="intro">Einleitung</pb-i18n>
        </a>
        <a href="${app}/collection.html" data-template="lib:parse-params">
            <pb-i18n key="docs">Dokumente</pb-i18n>
        </a>
        <a href="${app}/stemma.html" data-template="lib:parse-params">
            <pb-i18n key="trad">Überlieferung</pb-i18n>
        </a>
        <a href="${app}/map.html" data-template="lib:parse-params">
            <pb-i18n key="map">Karte</pb-i18n>
        </a>
        <a href="${app}/registry.html" data-template="lib:parse-params">
            <pb-i18n key="registry">Register</pb-i18n>
        </a>
</app-toolbar>