<html>
    <head data-template="lib:include" data-template-path="templates/header.html"/>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json" require-language="" url-ignore="view">
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout fullbleed="">
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                    </app-header>
                   <main class="register-container">
                        <div class="transcript">
                            <pb-custom-form id="options" auto-submit="input,paper-input,paper-icon-button" emit="transcription">
                                <paper-input name="search" label="Search" data-template="templates:form-control">
                                    <paper-icon-button icon="search" slot="suffix"/>
                                </paper-input>                                
                            </pb-custom-form>
                            <pb-split-list url="api/people" subforms="#options" selected="A" emit="transcription" subscribe="transcription"/>
                        </div>
                    </main>
                    <footer data-template="templates:include" data-template-path="templates/footer.html"/>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>