<html>
   <head data-template="lib:include" data-template-path="templates/header.html"/>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json" require-language="" url-ignore="view">
            <app-drawer-layout force-narrow="force-narrow">
             <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout fullbleed="">
                    <app-header slot="header" reveals="reveals" fixed="fixed" effects="waterfall">
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                    </app-header>
                   <main class="content-body single-col">
                   <header class="start focus">
                   <div>
                       <h1>
                           Die Urkunden und Akten des Klosters und des Oberamts Königsfelden
                        </h1>
                        <h2>
                            1308-1662
                        </h2>
                        <h3>Herausgegeben von Colette Halter-Pernet, Tobias Hodel und Simon Teuscher</h3>
                         <h4>Bearbeitet von L. Barwitzki, S. Egloff, C. Halter-Pernet, F. Henggeler, T. Hodel, M. Nadig, A. Steinmann und S. Stettler</h4>
                     </div>    
                     <img src="resources/images/start-seite.png" alt="facsimile of one of the documents with seals"/>
                             
                         </header>
                         <div class="panel-start">
                         <section>
                    <h2>
                                    <pb-i18n key="introduction">Königsfelden Online</pb-i18n>
                                </h2>
              
<p>Geschichte des habsburgischen Dienstadels, der Monarchien und der städtischen Eliten im Gebiet der heutigen Schweiz, Wirtschaftsgeschichte eines Klosters, Adelsgeschichte aus Frauenperspektive, Archivierungstechniken und mehr – das Schriftgut Königsfeldens bietet Einblicke in vielfältige Themenbereiche. Die Zeugen ebendieser Geschichte(n), die Urkunden und Akten des Klosters und der nachmaligen Berner Hofmeisterei Königsfelden, die seit der Gründung des Klosters durch die Habsburger anfangs des 14. Jahrhunderts entstanden sind, wurden in einem mehrjährigen Projekt am Historischen Seminar der Universität Zürich digital aufbereitet. Dank der Auszeichnung der Urkunden- und Aktentranskriptionen mit Registerdaten wie auch der Verlinkung dieser zu externen Datenbanken eröffnet diese Online-Edition neue Dimensionen zur Erforschung vielfältiger historischer Fragestellungen.</p>

<p>Über den Reiter Dokumente erlangen Sie direkten Zugriff auf die Urkunden und Akten. Zur besseren Übersicht können die Dokumente in Sammlungen gegliedert werden, sodass ein Zugang über einzelne Zeitabschnitte, Dorsualschichten oder nach Schlagwörtern möglich ist. Mit der Volltextsuche kann nach Personen, Organisationen oder Orten gesucht werden. Die Suchergebnisse können weiter eingeschränkt werden, indem bspw. ein spezifisches Trägermaterial von der Suche ausgeschlossen oder in der Zeitleiste der gewünschte Zeitraum gewählt wird. Die Kriterien können beliebig kombiniert werden.</p>
 
<p>Unter Register können die einzelnen Entitäten durchstöbert werden: <a href="people.html">Personen</a> und <a href="organisations.html">Familien/Organisationen</a>, <a href="places.html">Orte</a> und <a href="keywords.html">Schlagworte</a>. Beim Durchstöbern der Entität Orte ermöglicht eine interaktive und zoombare Karte den Zugriff auf die Dokumente aus geografischer Perspektive.</p>

<p>Bis 2024 wurde die digitale Edition “Die Urkunden und Akten des Klosters und des Oberamts Königsfelden” von der Universität Zürich betrieben. Anfang 2024 wurde die digitale Edition auf den Server von Sources Online überführt. Das Staatsarchiv Aargau ist hierfür Auftraggeber und Dateneigentümer.</p>
<p>In der Einleitung findet sich eine Einführung zur Geschichte Königsfeldens wie auch zum digitalen Editionsprojekt.</p>
                </section>
                 <aside>
                                       <div class="panel-body">
                       
                        <form onsubmit="openDoc(this);return false">
                            <div class="form-group">
                                <small class="form-text text-muted">Gib die Nummer eines Dokuments (inkl. vorgestellten Nullen!) ein und drücke den Knopf, um unmittelbar das entsprechende Dokument zu öffnen.</small>
                                <input class="form-control" type="text" id="docnum" name="docname" placeholder="zB. 0727/01"/>
                            </div>
                            <button type="submit" class="btn btn-primary focus">Öffnen</button>
                        </form>
                    </div>
                 </aside>
                 </div>
               <!--  <div class="acknowledgement">
                     <h3>Mit freundlicher Unterstützung von</h3>
                     <div class="logos">
                         <img src="resources/images/snf_logo.png" alt="fns logo"/>
                         <img src="resources/images/swisslos_logo_aargau.jpg" alt="swisslos kanton aargau logo"/>
                     </div>
                 </div> -->
                    </main>
                    <footer data-template="templates:include" data-template-path="templates/footer.html"/>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
         <script type="text/javascript">
                        //
                        function openDoc(formfield) {
                            var number = formfield[0].value;
                            number = number.replace("/", "_")
                            var link = "data/docs/U-17_" + number + ".xml"
                            window.open(link, "_blank")
                        }
                        //
         </script>
    </body>
</html>