<html>
<head data-template="lib:include" data-template-path="templates/header.html"/>
    <body>
        <pb-page data-template="pages:pb-page" unresolved="unresolved" locales="resources/i18n/{{ns}}/{{lng}}.json" require-language="" url-ignore="view">
            <app-drawer-layout force-narrow="force-narrow">
                <app-drawer data-template="lib:include" data-template-path="templates/drawer.html"/>
                <app-header-layout fullbleed="">
                    <app-header slot="header" effects="waterfall" reveals="reveals" condenses="condenses" fixed="fixed">
                        <app-toolbar data-template="templates:include" data-template-path="templates/banner.html"/>
                        <app-toolbar data-template="lib:include" data-template-path="templates/menu.html"/>
                    </app-header>
                    <main>
                     <div class="source">
                            <h1>
                                <pb-i18n key="trad"/>
                            </h1>
                                <ul>
                                    <li>
                                        <a class="block-title" href="#visualisierung" target="_self">Visualisierung der Urkundenproduktion, Kopien und
                                            Dorsualnotizen</a>
                                    </li>
                                    <li>
                                        <a class="block-title" href="#haufigkeit" target="_self">Häufigkeit und Vorkommen von Dorsualnotizschichten</a>
                                    </li>
                                    <li>
                                        <a class="block-title" href="#Dorsualnotizschichtenzeitlinienvisualisierung">Visualisierung der Dorsualschichten</a>
                                    </li>
                                    <li>
                                        <a class="block-title" href="#archivordnungen" target="_self">Archivordnungen</a>
                                    </li>
                                    <li>
                                        <a class="block-title" href="#archivordnung_bern" target="_self">Archivordnung von 1570 in Bern</a>
                                    </li>
                                </ul>
                           
                        </div>
                            <a class="anchor" id="visualisierung"/>
                          
                                <div class="panel">
                                    <h2>
                                        <pb-i18n key="">Visualisierung der Urkundenproduktion,
                                            Kopien und Dorsualnotizen</pb-i18n>
                                    </h2>
                                
                                    <div>
                                        <p>Über folgenden Link gelangen Sie zu einer externen Seite, die von Peter Dängeli (Data Science Lab und Digital Humanities), Vlad Atanasiu (Digital Humanities) und Tobias Hodel (Digital Humanities) der Universität Bern gepflegt wird: <a href="https://dhbern.github.io/koenigsfelden-viz/visualization_1/index.html" target="_blank">
                                        <iron-icon icon="icons:open-in-new"/>
                                    </a>
                                </p>
                                     <!--   <iframe class="visualization_1" src="https://dhbern.github.io/koenigsfelden-viz/visualization_1/index.html" style="height:850px;"/> -->
                                    </div>
                                    <a class="anchor" id="haufigkeit"/>
                                </div>
                                <div class="panel">
                                    <h2>Häufigkeit und Vorkommen von Dorsualnotizschichten</h2>
                                    <p>Über folgenden Link gelangen Sie zu einer externen Seite, die von Peter Dängeli (Data Science Lab und Digital Humanities), Vlad Atanasiu (Digital Humanities) und Tobias Hodel (Digital Humanities) der Universität Bern gepflegt wird:<a href="https://dhbern.github.io/koenigsfelden-viz/visualization_2/index.html" target="_blank">
                                    <iron-icon icon="icons:open-in-new"/>
                                </a>
                            </p>
                                      <!--  <iframe class="visualization_2" src="https://dhbern.github.io/koenigsfelden-viz/visualization_2/index.html" style="height:650px;"/> -->
                                    
                                <a class="anchor" id="Dorsualnotizschichtenzeitlinienvisualisierung"/>
                                </div>
                          
                                <div class="panel">
                                    <h2>Visualisierung der Dorsualschichten</h2>
                                    <p>Über folgenden Link gelangen Sie zu einer externen Seite, die von Peter Dängeli (Data Science Lab und Digital Humanities), Vlad Atanasiu (Digital Humanities) und Tobias Hodel (Digital Humanities) der Universität Bern gepflegt wird:<a href="https://dhbern.github.io/koenigsfelden-viz/visualization_3/index.html" target="_blank">
                                    <iron-icon icon="icons:open-in-new"/>
                                </a>
                            </p>
                                   <!--       <iframe class="visualization_3" src="https://dhbern.github.io/koenigsfelden-viz/visualization_3/index.html" style="height:920px;"/> -->
                                    
                                  <a class="anchor" id="archivordnungen"/>
                                </div>

                     
                        
                        <div>
                            <div class="panel">
                                    <h2>
                                        <pb-i18n key="introduction">Archivordnungen</pb-i18n>
                                    </h2>
                               
                                <div class="panel-body">
                                    <p> Die Dokumente Königsfeldens wurden erst nach dem Abtransport
                                        nach Bern (1528) in eine übergreifende Ordnung gebracht.
                                        Zuvor wurden die Dokumente häufig umsortiert und verblieben
                                        jeweils nur für kurze Zeit in Dossiers, die meist nur wenige
                                        Dokumente umfassten. Entsprechend ist es nicht möglich, eine
                                        Archivordnung vor 1570 und die Herstellung eines
                                        Regestenwerks zu rekonstruieren. Es ist jedoch möglich, die
                                        Vorstufen visuell darzustellen wie die obigen Stemmata
                                        zeigen. <br/> Die damit erste gesamthafte Ordnung der
                                        Dokumente, wie sie in Bern realisiert wurde, ist im
                                        Folgenden tabellarisch abgebildet und lässt den Aufbau des
                                        Bestandes in der Berner Zentrale während des 16. bis anfangs
                                        des 19. Jahrhunderts nachvollziehen. Abschriften der
                                        Dokumente wurden bereits um 1540 angefertigt (<a href="https://www.ag.ch/staatsarchiv/suche/detail.aspx?id=303753" target="_blank">Kopialbuch III, StAAG AA/0430-0434</a>), dadurch waren
                                        die Dokumente auch in Königsfelden greifbar und die
                                        Hofmeister hatten Zugriff auf den Inhalt der Rechtstitel.
                                        Die Königsfelder Urkunden und Akten wurden erst nach Ende
                                        des Ancien Régimes nach 1803 an den Kanton Aargau
                                        ausgehändigt und in der damals neuen Kantonsbibliothek
                                        untergebracht. Im heutigen Staatsarchiv Aargau, das zusammen
                                        mit der Kantonsbibliothek als zentrale Gedächtnisinstuition
                                        des Kantons fungiert, ist der Königsfelder Bestand unter der
                                        Signatur U.17 zu finden, wobei die Dokumente nun einer
                                        chronologischen Ordnung unterliegen. Damit hat die
                                        wechselvolle Geschichte des Königsfelders Bestandes seinen
                                        (vorläufigen) Abschluss gefunden. <br/> Siehe auch: <a href="https://doi.org/10.2357/9783739880600" target="_blank">Hodel,
                                            Schriftordnungen 2020, S. 229-263</a>. </p>
                                </div>
                                   <a class="anchor" id="archivordnung_bern"/>
                            </div>
                                                     
                        </div>
                        <div>
                            <div class="panel">
                                    <h2>
                                        <pb-i18n key="">Archivordnung von 1570 in Bern</pb-i18n>
                                    </h2>
                                 
                                <div>
                                    <table class="table table-striped special-font">
                                        <tr>
                                            <th>Bild</th>
                                            <th>Signatur</th>
                                            <th>Themen und Orte</th>
                                            <th>Transkription*</th>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_A_0618_01.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K A</td>
                                            <td>Stiftungsurkunden, Rechte und verschiedene
                                                Bestätigungen.</td>
                                            <td>Stifftùngsbrieff dess closters fryheytt unnd
                                                bestättigùngen derselben, ittem fryungen,
                                                pfanndtschilling zelösenn, zoll unnd gleits
                                                erledigùngenn.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_B_0035.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K B</td>
                                            <td>Eigenamt, Habsburg, Lindhof, Italen, Eitenberg,
                                                Mülligen, Altenburg.</td>
                                            <td>Hoffs Künigsfeldenn selbs innhabende guͤtter,
                                                mattenn, acher, mülli, höltzer, wyger im amptt
                                                Eigenn, uff Hapspùrg, Lind, inn Italen, Eitenberg,
                                                Müllinen, Altenbùrg.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_C_0296.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K C</td>
                                            <td>Brugg (Stadt, Kirchensatz, Pfandsummen und
                                                Schenkungen).</td>
                                            <td>Brùgck die statt, der kilchennsatz, ittem ettlich
                                                pfanndtschilling unnd vergabùngen.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_D_0022.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K D</td>
                                            <td>Windisch (Fahr und Kirchensatz), Eigenamt, Birr,
                                                Scherz, Oberburg, Lupfig, Hausen, Mülligen,
                                                Schinznach-Bad, Göttishusen, Holderbank, Hellmüli,
                                                Wildegg, Brunegg, Birrhard.</td>
                                            <td>Windisch das vaar, kilchensatz, ampt Eigen, Bir,
                                                Schernntz, Oberbùrg, Lùpffen, Hùsen, Müllinen,
                                                Birenloùff, Göttisshùsen, Holderwanck, Hellmüli,
                                                Wildegg, Brùnegg, der Birchart.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_E_0177.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K E</td>
                                            <td>Grafschaft Baden, Gebenstorf, Birmenstorf, Oberhard,
                                                Ober- und Niederwil, Untersiggenthal, Stetten,
                                                Klingnau, Tegerfelden, Rohrdorf, Staretschwil,
                                                Regensberg und Schleinikon.</td>
                                            <td>Graffschafft Badenn, Gebistorff, Birmistorff,
                                                Oberhart, Ober, Nider Wyl, Siggingen, Stetten,
                                                Clingnoùw, Tägerfeld, Rordorff, Schäritzwyl, ittem
                                                Rägensperg unnd Schlinigken.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_F_0508.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K F</td>
                                            <td>Mellingen, Eckwil.</td>
                                            <td>Mellingen, Eggwyl.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_G_0824.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K G</td>
                                            <td>Bremgarten, Wohlenschwil, Dottikon, Büblikon,
                                                Villmergen, Sarmenstorf, Bettwil, Wohlen,
                                                Otelfingen, Freie Ämter.</td>
                                            <td>Bremgarten, Wolenschwyl, Tottigkenn, Bùblicken,
                                                Villmeringen, Sarmistorff, Bettwyll, Wolen,
                                                Ottelfingen unnd was in den Fryen Ämpteren
                                                gelegenn.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_H_0250.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K H</td>
                                            <td>Lenzburg, Staufen, Niederlenz, Möriken, Schafisheim,
                                                Othmarsingen, Rütihof (bei Aarau/Gränichen),
                                                Hendschiken, Egliswil, Retterswil, Teufenthal,
                                                Dürrenäsch.</td>
                                            <td>Lentzbùrg, Stoùffenn, Niderlenntz, Mörigken,
                                                Schaffhùsenn, Ottmassingenn, hoff Rüti,
                                                Hentschicken, Egliswyl, Raterswyl, Töüffenthal,
                                                Dürrenästes, sampt den kilchensätzenn.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_I_0291.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K I</td>
                                            <td>Seon, Seengen, Rupperswil, Hunzenschwil,
                                                Rottenschwil, Rohr, Laubsberg.</td>
                                            <td>Seon, Sengen, Rùbischwyl, Hùndtzischwyl,
                                                Rotterschwyl, Ror, Loùbsperg.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_K_0099.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K K</td>
                                            <td>Ober- und Unterentfelden, Suhr, Buchs, Gränichen,
                                                Hallwil.</td>
                                            <td>Ober unnd Nider Entfeldenn, Sùr, Buchs, Grenchen,
                                                Hallwyl.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_L_0097.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K L</td>
                                            <td>Kölliken, Ober- und Unterkulm, Schöftland, Schloss-
                                                und Schmiedrued, Moos- und Kirchenleerau,
                                                Muhen.</td>
                                            <td>Kölligken, Kùlm, Schofftlenn, Ruͦd, Leeroùw unnd das
                                                Mùchen ampt.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_M_0175.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K M</td>
                                            <td>Zofingen, Aarburg, Aarau, Olten, Lostorf.</td>
                                            <td>Zoffingen, Arbùrg, Aroùw, Olttenn, Lostorff.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_N_0285.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K N</td>
                                            <td>Erlinsbach (Kellerhof und Kirchensatz), Biberstein,
                                                Königstein, Küttigen.</td>
                                            <td>Erlispach, källerhoff, kilchensatz, Bibersteinn,
                                                Küngstein, Küttingenn.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_O_0674.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K O</td>
                                            <td>Auenstein, Schinznach, Thalheim, Veltheim,
                                                Villnachern, Umiken, Riniken.</td>
                                            <td>Goùwenstein, Schintznach, Talheim, Veldtheim,
                                                Vilnachern, Umicken, Rinicken.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_P_0461.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K P</td>
                                            <td>Bözberg, Ursprung, Mönthal, Iberg, Bözen, Villigen,
                                                Stilli, Lauffrohr, Zeihen, Hottwil, Wessenberg.</td>
                                            <td>Bötzberg, Ursprùng, Mönenthal, Iberg, Bötzenn,
                                                Villingenn, Stille, Wollenfar, Zeigen, Hottwyl,
                                                Wessenberg.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_Q_0040.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K Q</td>
                                            <td>Elfingen, Bözen, Effingen, Gallenkirch, Mandach,
                                                Asp, Densbüren, Urgiz, Oberflachs.</td>
                                            <td>Elfingen, Bötzenn, Efingen, Gallenkilch, Mandach,
                                                Asp, Tännspüren, Urgitz, Oberflachs.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_R_0194.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K R</td>
                                            <td>Waldshut, Dogern, Remetschwiel, Schwarzwald, Bad
                                                Säckingen, Birkingen, Endingen, Hänner,
                                                Feldkirch.</td>
                                            <td>Waltzhuͦt, Togerenn, Ramischwyl, der Schwartzwald,
                                                Seckingen, Birckingen, Enndingen, Heener,
                                                Veldtkirch.</td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <img src="resources/images/archivordnung/K_S_0638.png" alt="K_A" width="100" height="100"/>
                                            </td>
                                            <td>K S</td>
                                            <td>Oberwaldshut.</td>
                                            <td>Ober Waltzhuͦtt.</td>
                                        </tr>
                                    </table>
                                    <br/>
                                    <br/>
                                    <p>* Transkription aus StAAG AA/0437, Regestensammlung
                                        entstanden als Archivfindmittel 1570 in Bern. <br/>
                                        Marginaleinträge späterer Zeit und Seitenzahlen werden nicht
                                        wiedergegeben, Abkürzungen sind stillschweigend aufgelöst
                                        und Zeilensprünge nicht berücksichtigt. Die originale
                                        Zeichensetzung wurde durch moderne Interpunktion ersetzt, um
                                        die Lesung des Textes zu vereinfachen. </p>
                                </div>
                            </div>
                        </div>
                    </main>
                    <footer data-template="templates:include" data-template-path="templates/footer.html"/>
                </app-header-layout>
            </app-drawer-layout>
        </pb-page>
        <div class="splash"/>
    </body>
</html>